.q-layout__section--marginal{

  background-color: #fff;
}

// start header
.header{
  padding: 15px 2%;
  border-top: 15px solid #000;
  .links{
    display: flex;
    justify-content: flex-end;
    ul{
      list-style-type: none;
      display: flex;
      gap: 30px;
      li{
        cursor: pointer;
        text-transform: uppercase;
        color: #595858;
        font-size: 18px;
      }
      li:hover {
        color: #ecad15;
      }
    }
  }
  .search-icon{
    display: flex;
    justify-content: end;
    align-items: center;
    color: #595858;
    i{
      font-size: 30px;
    }
  }
}
