// libaraies
.container {
  width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.De-button{
  padding: 12px 40px;
}
// edit class quasar :)
.q-panel{
  height: auto;
}
.q-panel-parent{
    position: static;
}
.fixed-bottom-left, .absolute-bottom-left {
  bottom: 50%;
  left: 0;
}

.q-btn--dense.q-btn--round {
  width: 60px;
  height: 60px;
  i{
    font-size: 27px;
  }
}
// start slider
.parent-silader{
  margin-top: 6%;
  .slider {
    margin: auto 10% 10%;
    .silder-content{
      // desgin image
      .silder-image{
        img{
          width: 100%;

        }
      }
      // desgin title
      .title-silder{
        h4{
          font-size: 70px;
          font-weight: bold;
          margin: 0 0 30px 0;
        }
        span{
          font-size: 70px;
          font-weight: bold;
          color: #ecad15;
        }

      }
      // desgin title
      .text-silder{
        p{
          width: 85%;

          font-size: 16px;
          color: #050505;
          margin-left: 0px;
          line-height: 24px;
          font-weight: 300;
          margin: 20px;

        }

      }
      .read-more{
        margin: 50px 0;
        display: flex;
        gap: 15px;
        button{
          padding: 12px 40px;
        }

      }

    }

  }
}

// desgin section about our shop
.about-our-shop{
  text-align: center;
  .image{
    img{
      width: 100%;
    }
  }
  .About-Shop{
    position: relative;
    .about-bg{
      position: absolute;
      z-index: -999;
      img{
        width: 100%;
      }
    }
    .title{
      width: 100%;
      font-size: 50px;
      color: #050505;
      font-weight: bold;
      text-align: center;
    }
    .text-about{
      width: 33%;
      margin: 0 auto;
      text-align: center;
      font-size: 16px;
      color: #050505;
      line-height: 1.8;
      margin-bottom: 41px
    }
    .Our-Vegetables{

      .bg-image-Vegetables{
        width: 100%;

      }
      margin: 90px 0;
      h2{
        font-size: 55px;
        color: #050505;
        font-weight: bold;
        margin: 20px 0 20px;
      }
      p{
        margin: 0 auto;
        font-size: 16px;
        color: #787878;
      }
    }
    // desgin product
    .card{
        padding: 34px 0;
        background-color: #fff;
        border: 2px dotted #000;

      .price{
        margin: -7px 22px 4px;
        font-size: 22px;
        font-weight: bold;
        text-align: center;
      }
        .dolor_text:not(.price)  {
          font-size: 22px;
          color: #050505;
          font-weight: bold;
          text-align: center;
          padding-bottom: 0px;
          margin: -24px;
        }
        .weight{
          color: #ecad15 !important;
        }
        .bio{
          padding: 15px;
        }
      }
      // card
      .row{
        .parent-card {
          padding: 10px;
          margin: 15px 0;
        }
      }

    }

}

// Why Choose Us

.WhyChooseUs{
  margin-top: 100px;
  background-color: #f9f9f9;
  background-size: 100%;
  padding: 90px 0;
  box-shadow: 0 5px 5px -5px #f2f2f2;
  h2{
    margin: 10px 0 75px;
    font-weight: bold;
  }
  p{
    font-size: 16px;
    color: #787878;
    padding: 0 300px;
    margin: 20px 0 50px;
  }
}
