
// Mobile devices
@media (min-width: 320px)and (max-width:480px) {
  .container{
    max-width: 320px
  }
  .image-screen{
    img{
      width: 100%;
    }
  }
}
// iPads, Tablets
@media ( min-width: 481px)and (max-width:786px) {
  .container{
    max-width: 481px
  }
  .image-screen{
    img{
      width: 100%;
    }
  }
}
// Small screens, laptops
@media ( min-width: 769px)and (max-width:1024px) {
  .container{
    max-width: 769px
  }
  .image-screen{
    img{
      width: 100%;
    }
  }
}
// Desktops, large screens
@media ( min-width: 1025px)and (max-width:1200px) {
  .container{
    max-width: 1025px
  }

}
// Extra large screens, TV
@media ( min-width: 1200px) {
  .container{
    min-width: 1200px
  }
}
